Why pandas:

    a. Simple to use

    b. Integrated with many other data science and ML Python tools
    
    c. Helps to make data ready for machine learning

In [1]:
import pandas as pd
import numpy as np

In [2]:
## 2 main data types
series = pd.Series(["BMW", "Toyota", "Honda"])

In [3]:
series

0       BMW
1    Toyota
2     Honda
dtype: object

In [4]:
from numpy.random import randn

In [5]:
df = pd.DataFrame(randn(5,4),['A', 'B', 'C', 'D', 'E'], ['W', 'X', 'Y', 'Z'])

In [6]:
df

          W         X         Y         Z
A  1.025487 -1.899385  0.676101 -0.425040
B -0.175111 -0.144359  0.697716  1.025271
C  0.419410  0.321769  0.556229  0.789827
D -0.277188  0.115734 -0.328258  0.842838
E  1.637760 -0.989602  2.036035  0.489934

In [7]:
df[['X', 'Y']]

          X         Y
A -1.899385  0.676101
B -0.144359  0.697716
C  0.321769  0.556229
D  0.115734 -0.328258
E -0.989602  2.036035

In [8]:
df.loc['A']

W    1.025487
X   -1.899385
Y    0.676101
Z   -0.425040
Name: A, dtype: float64

In [9]:
df.iloc[0]

W    1.025487
X   -1.899385
Y    0.676101
Z   -0.425040
Name: A, dtype: float64

In [10]:
df.loc['C','Y']

0.5562289393456117

In [11]:
df>0

       W      X      Y      Z
A   True  False   True  False
B  False  False   True   True
C   True   True   True   True
D  False   True  False   True
E   True  False   True   True

In [12]:
dfbool = df>0

In [13]:
dfbool

       W      X      Y      Z
A   True  False   True  False
B  False  False   True   True
C   True   True   True   True
D  False   True  False   True
E   True  False   True   True

In [14]:
df[df>0]

          W         X         Y         Z
A  1.025487       NaN  0.676101       NaN
B       NaN       NaN  0.697716  1.025271
C  0.419410  0.321769  0.556229  0.789827
D       NaN  0.115734       NaN  0.842838
E  1.637760       NaN  2.036035  0.489934